fieldset { border: none; }

legend {
    display: flex;
    align-items: start;
    gap: .75rem;
    font: var(--text-heading-sm);
    margin-bottom: 1.5rem;
}

label {
    margin-bottom: .75rem;   
    display: inline-block;
}

input, textarea{
    appearance: none;
    width: 100%;
    padding: .75rem 1rem;
    background-color: var(--input-base);
    border: .0625rem solid var(--input-stroke);
    border-radius: .5rem;
    font: var(--text-body-md);
    color: white;
    outline: none;

    &:focus {
        border-color: var(--brand-light);
    }
}

.error-container{
   
    
    .error-message {
        display: none;
        margin-top: 0.25rem;
        align-items: center;
        gap: 0.5rem;
        color: var(--danger);
    }

    &:has(:invalid){
        .error-input{
            border: .0625rem solid var(--danger);
        }

        .error-message { display: flex; }
    }
}






