@import url(global.css);
@import url(form.css);
@import url(radios.css);
@import url(switch.css);
@import url(input-file.css);
@import url(buttons.css);
@import url(checkbox.css);

#grid-container {
    height: 100vh;
    overflow: hidden;   
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.25rem; 
}

main {
    background-color: var(--shape-body);
    border-radius: .75rem;
    padding: 5rem 2rem;
    h1 { margin-bottom: 2,5rem; }
    overflow-y: auto;
}

#main-container {
    max-width: 35rem;
    margin-inline: auto;
}

aside {
    padding: 2rem;
    border-radius: .75rem;
    background: url(../assets/images/Background.png) no-repeat center top/cover;

    p { font: var(--text-body-md); font-weight: bold;}
    h2 {
        margin-block: 1rem .25rem;
        font: var(--text-logo);
        color: var(--pink);
    }
}

fieldset { margin-top: 2.5rem; }

#about-event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .input-wrapper:has(#title), .input-wrapper:has(#description)  { grid-column: 1/3;}
   ;
}

#customization { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    .input-wrapper:nth-of-type(1) { grid-column: 1/3; }
    .input-wrapper:nth-of-type(2) { grid-column: 1/3; }
    label { margin-bottom: 1rem; }
    .input-wrapper + .input-wrapper { margin-top: 1.75rem; }
 }

 #contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .input-wrapper:first-of-type{
        grid-column: 1/3;
    }
 }

 #checks{

    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: .0625rem solid var(--input-stroke);

    .check-wrapper + .check-wrapper{margin-top: .75rem;}

    a{
        color: var(--brand-light);
    }
 }

 #actions {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
 }

