.switch-style-wrapper {
    display: flex;
    align-items: center; 
    gap: .75rem;
    position: relative;

    input {
        position: absolute;
        inset: 0;
        opacity: 0;
    }
    
    .switch-button{
        width: 4rem;
        height: 2rem;
        background: url(../assets/icons/switch.svg) no-repeat center;

        &:has(:checked){ 
            background-image: url(../assets/icons/switch-1.svg);
        }
    }
   
}

